<%- include("./partials/header") %>

     
    <% activities.forEach(function(a) { %>
        <h2><%= a.type %> </h2>
    
        <tr>
            <td><%= a.name %></td>
            <td><%= a.location %></td>
            <td><%= a.description %></td>
        </tr>
    <% }); %>


<%- include("./partials/footer") %>