<%- include("./partials/header") %>


    <% activities.forEach(function(a) { %>
    <div class="card text-bl" style="width: 40rem;">
        <div class="card-body">
        <h3 class="card-title"> <%= a.name %> </h3>
        <p class="card-text"> <%= a.description %> </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item text-bl"><%= a.location %></li>
        </ul>
        <div class="card-body">
            <a href="/home/activity/detail" class="">Tell me more...</a>
        </div>
    </div>     
    <% }); %>


<%- include("./partials/footer") %>